<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="/fragments/resources :: headResources"></th:block>
    <title>Best of the year</title>
</head>
<body>
<div>
    <img th:src="@{/logo.png}" alt="logo">
</div>
  <h1 style="display:inline">Welcome to my personal best for the year </h1>
  <h1 style="display:inline" th:text="${currentYear}"></h1>
  <h1 style="display:inline"> from</h1>
  <h1 style="display:inline" th:text="${myName}"></h1>

  <h2>Movies:</h2>
  <ul>
      <li th:each="movie : ${movies}" th:text="${movie.title}"></li>
  </ul>

  <h2>Songs:</h2>
  <ul>
      <li th:each="song : ${songs}" th:text="${song.title}"></li>
  </ul>


<script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js}"></script>
</body>
</html>